.ContactForm {
  width: 100%;
  max-width: 700px;
  padding: 50px 0px;
}

.ContactForm form {
  margin-top: 30px;
}

.ContactFormButton {
  display: flex;
  justify-content: flex-end;
}
.ContactFormButton button {
  min-width: 200px;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  padding: 15px 35px;
  margin: 10px 20px;
  border-radius: 5px;
  border: 0px;
  outline: 0px;
  background-color: #3550e6;
  cursor: pointer;
  transition: background-color 0.15s linear 0s;
}
.ContactFormButton button:hover,
.ContactFormButton button:focus {
  background-color: darkblue;
}
.ContactFormButton button:active {
  background-color: #795548;
}
