.EventSchedule {
  position: relative;
  padding: 100px 50px;
  overflow: hidden;
}
.EventSchedule__gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  opacity: 0.25;
}
.EventSchedule__gradient:nth-child(2) {
  height: 3px;
}
.EventSchedule__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #00075a;
  opacity: 0.05;
}

.EventSchedule__content {
  display: flex;
  position: relative;
}
.EventSchedule__content > .wrapper {
  flex-basis: 100%;
  max-width: 1500px;
}
.EventSchedule__content > .wrapper > .Heading {
  margin-bottom: 30px;
}

.EventCard {
  flex-basis: calc(25% - 20px);
  padding: 0px;
  margin: 10px;
  box-shadow: 0px 50px 100px -15px rgba(0, 7, 90, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.25s ease-in-out 0s;
}
.EventCard--in-view {
  opacity: 1.0;
}
.EventCard__name {
  display: flex;
  color: #3550e6;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 25px 25px 20px 25px;
}

.EventCard__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 25px 10px 25px;
}
.EventCard__row:last-child {
  padding-bottom: 25px;
}

.EventCard__column {
  min-width: 125px;
}
.EventCard__label {
  flex-basis: 50px;
  color: #e2633b;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.EventCard__value {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}





.EventSlider {
  position: relative;
}
.EventSlider__overflow {
  position: relative;
  width: 100%;
}
.EventSlider__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 133.333333333%;
  margin-left: 0%;
  transition: margin 0.5s ease-in-out 0s;
}

.EventSlider__ {
  position: relative;
  max-width: 1500px;
  margin: 0px auto;
}
.EventSlider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.EventSlider__controls > .arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: calc(100% + 100px);
  height: calc(100% - 20px);
  margin: 0px -50px 0px -50px;
}
.EventSlider__controls > .arrows > .arrow {
  position: relative;
  width: 60px;
  height: 100%;
  border-radius: 5px;
  background-image: url('./images/right-chevron.png');
  background-size: 50px auto;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: grayscale(1) opacity(0.5);
  transition: filter 0.25s ease-in-out 0s;
  z-index: 999;
}
.EventSlider__controls > .arrows > .arrow:hover {
  filter: grayscale(0) opacity(1);
}
.EventSlider__controls > .arrows > .arrow-left {
  transform: rotate(-180deg);
}
